.input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1rem;
    transition: 200ms;
    font-family: inherit;
}
.label {
    margin-bottom: 0.5rem;
}