.button {
  background-color: #ebebeb;
  border: 0;
  border-radius: 100px;
  padding: 0 1rem;
  transition: filter 200ms;
  -webkit-appearance: none;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: inherit;
  min-height: 35px;
  color: inherit;
  font-weight: bold;
  height: max-content;
}

.hasColor {
  background-color: #6173fb;
  color: #fff;
}

/* #171717 */
/* rgba(0,0,0,.08) */

.button[disabled] {
  filter: grayscale(0.5) brightness(0.8);
  color: #aaa;
  cursor: not-allowed;
}

.hasColor[disabled] {
  filter: grayscale(0.5) brightness(1.3);
}

.button:not([disabled]):hover {
  filter: brightness(0.9);
}

.button:active:not([disabled]):hover {
  filter: brightness(0.7);
}

.button>* {
  margin: 0.5rem 0;
  user-select: none;
}

.iconButton {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}

.iconButton>* {
  margin: 0;
}

.transparentButton {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2px #000;
  transition: filter 200ms, background-color 200ms;
}

.transparentButton:not(:disabled):hover {
  background-color: rgba(0,0,0,0.1);
  filter: brightness(0.9);
}

.transparentButton:active:not([disabled]):hover {
  background-color: rgba(0,0,0,0.2);
}

.inputButton {
  /* font-size: 1.5rem; */
  /* font-weight: bold; */
  /* padding: 1rem; */
  padding: .5rem 1rem;
  font-size: 1rem;
}

.iconCircle {
  background-color: #ebebeb;
  border-radius: 100px;
  margin: 0.5rem 0;
  min-height: 35px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}