.titleInput {
    width: 100%;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    transition: 200ms;
}

.menuBar {
    width: 100%;
    margin: 2rem 0;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menuBar button {
    border: none;
    border-radius: 5px;
    background-color: inherit;
    margin: 3px;
    padding: 3px;
    display: inline;
    
}

.menuBar button svg {
    width: 24px;
    height: 24px;
}

.menuBar button:hover {
    background-color: #ccc;
}

