.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input {
  width: 100%;
  margin: 0.5rem 0;
}

.label {
  display: none;
}

.invalidLabel {
  display: inline-block;
  color: red;
}

.anchor {
  display: block;
}