.previewContainer {
  margin-bottom: 4rem;
}

.previewTitle {
  margin: 5px 0;
}

.previewSubtitle {
  margin: 5px 0;
  font-weight: normal;
}
.previewMeta {
  padding: 5px 0 10px 0;
}
.previewMeta span {
  margin: 0 10px 0 0;
}
.previewImage {
  max-height: 600px;
  width: 100%;
}

/* .previewSource h3 {
    display: inline;
} */
/* .previewSource span {
    margin: 0 10px 0 0;
} */

.previewSource a {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .banner {
    min-height: 160px;
    padding: 0 2.5vw;
  }
  .banner h1 {
    font-size: 27px;
  }
}
