.banner {
    min-height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.banner h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.links {
    display: flex;
    flex-direction: row;
}

.links * {
    margin: 0px 10px;
}

.previewContainer {
    margin-bottom: 4rem;
}

.previewTitle {
    margin-bottom: 5px;
}

.previewSubtitle {
    margin: 5px 0;
    font-weight: normal;
}
.previewMeta {
    padding: 5px 0 10px 0;
}
.previewMeta span {
    margin: 0 10px 0 0;
}
.previewImage {
    max-height: 600px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .banner {
        min-height: 160px;
        padding: 0 2.5vw;
    }
    .banner h1 {
        font-size: 27px;
    }
}